@model IEnumerable<string>

@{
    ViewBag.Title = "Download";
}

<table class="table">
    <tr>
        <th>File Name</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item, "Download", new { fileName = item }) 
        </td>
    </tr>
}

</table>
