
@using (Html.BeginForm("Upload", "Home", FormMethod.Post,
                new { enctype = "multipart/form-data" })) {

    @Html.AntiForgeryToken()

    <div class="input-group">
        @Html.TextBox("files", "", new { type = "file", @class="form-control", multiple = string.Empty })
        <div class="input-group-append">
            <input type="submit" value="Upload" class="btn btn-outline-secondary" />
        </div>
    </div>
}
<br />
<h3>@ViewBag.Message</h3>

